<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">便利店管理系统</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout" th:text="${username + ' 退出'}"></a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div th:replace="base/nav.html"></div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">课程管理</h1>
<!--                    <div class="btn-toolbar mb-2 mb-md-0">-->
<!--                        <div class="btn-group mr-2">-->
<!--                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>-->
<!--                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
<!--                        </div>-->
<!--                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>-->
<!--                            This week-->
<!--                        </button>-->
<!--                    </div>-->
                </div>
                <div>
                    <div style="margin-bottom: 15px;">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" onclick="add()">
                            添加
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">添加课程</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="/admin/course/save">
                                            <div class="form-group">
                                                <input type="hidden" name="id" class="form-control" required id="exampleFormControlInput1">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput2">课程名称</label>
                                                <input type="text" name="name" class="form-control" required id="exampleFormControlInput2">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput2">任课教师</label>
                                                <select class="form-control" name="teacherId" required id="exampleFormControlSelect1">
                                                    <option th:each="item : ${teachers}" th:value="${item.no}" th:text="${item.name}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput4">描述</label>
                                                <textarea type="text" name="description" class="form-control" id="exampleFormControlInput4"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">保存</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">编号</th>
                            <th scope="col">课程名称</th>
                            <th scope="col">教师</th>
                            <th scope="col">描述</th>
                            <th scope="col">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${page.getRecords()}">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.teacher}"></td>
                            <td th:text="${item.description}"></td>
                            <td>
                                <button type="button" class="btn btn-primary" th:id="${item.id}" th:name="${item.name}" th:teacher-id="${item.teacherId}"
                                        th:description="${item.description}" onclick="update(this)">修改</button>
                                <a type="button" class="btn btn-primary" th:href="${'/admin/rel-course-student-do?courseId=' + item.id}">课程学生</a>
                                <a type="button" th:href="${'/admin/course/del?no=' + item.id}" class="btn btn-danger">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example" th:if="${page.getTotal() > 0}">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" th:href="${'/admin/course/list?pageNo=' + ((page.getCurrent() - 1) > 0 ? (page.getCurrent() - 1) : 1)}">上一页</a></li>
                            <li th:class="${item == page.getCurrent() ? 'page-item active' : 'page-item'}" th:each="item : ${#numbers.sequence(1, page.getPages())}">
                                <a class="page-link" th:href="${'/admin/course/list?pageNo=' + item}" th:text="${item}"></a>
                            </li>
                            <li class="page-item"><a class="page-link" th:href="${'/admin/course/list?pageNo=' + ((page.getCurrent() + 1) < page.getPages() ? (page.getCurrent() + 1) : page.getPages())}">下一页</a></li>
                        </ul>
                    </nav>
                </div>
            </main>
        </div>
    </div>
    <script src="/jquery.slim.min.js" ></script>
    <script src="/popper.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script>
        function add() {
            console.log('add')
            $('#exampleFormControlInput1').val("")
            $('#exampleFormControlInput2').val("")
            $('#exampleFormControlSelect1').val("")
            $('#exampleFormControlInput4').val("")

            $('#exampleModal').modal()
        }
        function update(btn){
            let id = btn.getAttribute('id')
            let name = btn.getAttribute('name')
            let teacherId = btn.getAttribute('teacher-id')
            let description = btn.getAttribute('description')

            console.log('update', id, name, description)
            $('#exampleFormControlInput1').val(id)
            $('#exampleFormControlInput2').val(name)
            $('#exampleFormControlSelect1').val(teacherId)
            $('#exampleFormControlInput4').val(description)

            $('#exampleModal').modal()
        }
    </script>
</body>
</html>
