<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">便利店管理系统</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout" th:text="${username + ' 退出'}"></a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div th:replace="base/nav.html"></div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">课程学生管理</h1>
<!--                    <div class="btn-toolbar mb-2 mb-md-0">-->
<!--                        <div class="btn-group mr-2">-->
<!--                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>-->
<!--                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
<!--                        </div>-->
<!--                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>-->
<!--                            This week-->
<!--                        </button>-->
<!--                    </div>-->
                </div>
                <div>
                    <div style="margin-bottom: 15px;">
                        <dl class="row">
                            <dt class="col-sm-1">课程编号</dt>
                            <dd class="col-sm-11" th:text="${course.id}"></dd>

                            <dt class="col-sm-1">课程名称</dt>
                            <dd class="col-sm-11" th:text="${course.name}"></dd>

                            <dt class="col-sm-1">课程教师</dt>
                            <dd class="col-sm-11" th:text="${course.teacher}"></dd>

                            <dt class="col-sm-1">课程描述</dt>
                            <dd class="col-sm-11" th:text="${course.description}"></dd>
                        </dl>
                    </div>
                    <div>
                        <h1 class="h2">成绩管理</h1>
                        <div class="alert alert-primary" th:if="${msg != ''}" th:text="${msg}" role="alert"></div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">学号</th>
                                <th scope="col">姓名</th>
                                <th scope="col">分数</th>
                                <th scope="col">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${grades}">
                                <td th:text="${item.studentNo}"></td>
                                <td th:text="${item.student}"></td>
                                <td th:text="${item.grade}"></td>
                                <td>
                                    <button type="button" class="btn btn-primary" th:rel-id="${item.id}" th:grade="${item.grade}" onclick="update(this)">修改</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">修改成绩</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post">
                                        <input type="hidden" name="relId" id="exampleFormControlInput1">
                                        <input type="hidden" name="courseId" th:value="${course.id}">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput3">成绩</label>
                                            <input type="number" name="grade" class="form-control" required id="exampleFormControlInput3">
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">保存</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>
    <script src="/jquery.slim.min.js" ></script>
    <script src="/popper.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script>
        function update(btn){
            let relId = btn.getAttribute('rel-id')
            let grade = btn.getAttribute('grade')

            console.log('update', relId, grade)
            $('#exampleFormControlInput1').val(relId)
            $('#exampleFormControlInput3').val(grade)

            $('#exampleModal').modal()
        }
    </script>
</body>
</html>
