<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.stu.mapper.RelCourseStudentDOMapper">

    <select id="getStudentGrades" resultType="com.demo.stu.entity.vo.GradeVO">
        select
               rel.*,
               stu.name as student
        from rel_course_student rel
        left join student stu on rel.student_no = stu.no
        where rel.course_id = #{courseId}
    </select>
</mapper>
