<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.SaleDOMapper">

    <select id="getMaxIdByPartition" resultType="java.lang.Integer">
        select ifnull(max(substring(SaleID, 11, 4) + 0), 0) seq from SALE where SaleID like #{partition}
    </select>
</mapper>
