<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.StaffDOMapper">

    <select id="getMaxIdByJobType" resultType="java.lang.Integer">
        select ifnull(max(substring(StaffID, 3, 2) + 0), 0) seq from STAFF where StaffID like #{jobType}
    </select>
</mapper>
